body {font-family: Roboto, Helvetica, Arial, sans-serif;}
.authForm { max-width: 360px; margin: 5px auto; }
.authForm h1 { 
  padding-bottom: 20px;
  color: rgba(0,0,0,.87);
  direction: ltr;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
  padding: 0;
  text-align: left;
}
.authForm p {
  color: rgba(0,0,0,.87);
  direction: ltr;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}
.authForm input {
  border-radius: 0;
  color: rgba(0,0,0,.87);
  font-size: 16px;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.12);
  padding-left: 0;
  padding-right: 0;
}
.authForm input:focus {
  outline: none;
  box-shadow: none;
}
.authForm .card {
  border-radius: 0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.authForm button {
  border-radius: 2px;
  height: 36px;
  min-width: 88px;
  padding: 0 16px;
  display: inline-block;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0;
  overflow: hidden;
  will-change: box-shadow;
  transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 36px;
  vertical-align: middle;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}